NorthWind-WinForm/Service References/ProductServiceReference/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NorthWind.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthWind.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirimdekiMiktar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnAzYenidenSatisMikatari" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Fiyat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="KategoriID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sonlandi" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stok" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="TedarikciID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
      <xs:element minOccurs="0" name="YeniSatis" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
</xs:schema>