NorthWind-WinForm/Service References/ProductServiceReference/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55310/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55310/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55310/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthWind.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOf_ProductDTO_Paging_InputMessage">
    <wsdl:part name="parameters" element="tns:Paging" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_ProductDTO_Paging_OutputMessage">
    <wsdl:part name="parameters" element="tns:PagingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_ProductDTO_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_ProductDTO_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_ProductDTO_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_ProductDTO_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_ProductDTO_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_ProductDTO_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOf_ProductDTO">
    <wsdl:operation name="Paging">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_ProductDTO/Paging" message="tns:IServiceOf_ProductDTO_Paging_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_ProductDTO/PagingResponse" message="tns:IServiceOf_ProductDTO_Paging_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_ProductDTO/Add" message="tns:IServiceOf_ProductDTO_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_ProductDTO/AddResponse" message="tns:IServiceOf_ProductDTO_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_ProductDTO/Update" message="tns:IServiceOf_ProductDTO_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_ProductDTO/UpdateResponse" message="tns:IServiceOf_ProductDTO_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_ProductDTO/Delete" message="tns:IServiceOf_ProductDTO_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_ProductDTO/DeleteResponse" message="tns:IServiceOf_ProductDTO_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceOf_ProductDTO" type="tns:IServiceOf_ProductDTO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Paging">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_ProductDTO/Paging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_ProductDTO/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_ProductDTO/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_ProductDTO/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IServiceOf_ProductDTO" binding="tns:BasicHttpBinding_IServiceOf_ProductDTO">
      <soap:address location="http://localhost:55310/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>